body {
    width: 200px;
    padding: 10px;
  }
  
  h1 {
    font-size: 20px;
    text-align: center;
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
  }
  
  #summaryResult {
    margin-top: 10px;
  }
  